
@media(max-width:794px){
    footer{
       font-size:1.5em !important; 
    }
}
@media(max-width:617px){
    footer{
        font-size:1.3em !important;
    }
}
@media(max-width:546px){
    footer{
        font-size:1.2em !important;
    }
}
@media(max-width:511px){
    #rodapé{
        font-size:0.9em !important;
    }
}
@media(max-width:463px){
    header>h1{
        font-size:2.3em ! important;
        background-attachment: fixed;
    }
    #rodapé{
        font-size:0.85em!important;
    }
}
@media(max-width:445px){
    #rodapé{
        font-size:0.80em !important;
    }
}
@media(max-width:423px){
    #rodapé{
        font-size:0.75em !important;
    }
}
@media(max-width:401px){
    #rodapé{
        font-size:0.75em !important;
        text-align:left !important;
    }
}
@media(max-width:365px){
    #rodapé{
        font-size:0.70em !important;
        text-align: left !important;
    }
}
@media(max-width:342px){
    #rodapé{
        font-size:0.62em !important;
        text-align:left !important;
    }
}
@media(max-width:399px){
    header>h1{
        font-size:2.1em !important;
        background-attachment: fixed;

    }
}
@media(max-width:379px){
    #pt1,#pt2,#pt3,#pt4,#pt5,#pt6,#pt7{
        font-size:13px !important;
    }
    .fundo-transparente{
        width:230px !important;
        height:350px !important;
        margin-left:-5px !important;
    }
    
}
@media(max-width:360px){
    #pt1,#pt2,#pt3,#pt4#p5,#pt6,#pt7{
        font-size:12px !important;
    }
}

@media(max-width:374px){
    header>h1{
        font-size:2em !important;
        background-attachment: fixed;

    }
}

@media(max-width:359px){
    header>h1{
    font-size:1.9em !important;
    background-attachment: fixed;

    }
}
@media(max-width:330px){
    header>h1{
        font-size:1.8em !important;
        background-attachment: fixed;

    }
    @media(max-width:321px){
       header>h1{
        font-size:1.7em !important;
        background-attachment: fixed;

       }
    }
}
body{
    background-color:gray;
    margin:0px;
    overflow-x:hidden;
}

header{
    width:100vw;
    height:20vh;
    background-color:black;
    padding:25px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    overflow-x:hidden;
    color:white;
    text-align:center;
}
header>h1{
    font:normal 600 3em "Passion One","serif";
    margin-bottom:2px;
    background-attachment: fixed;
}
.aumento{
font-size:1.6em;
}
header>p{
    font:normal 500 1.5em "Passion One","sans-serif";
    display:inline;
    margin:0px;
    
}
header>p>a{
    color:white;
    text-decoration:none;
    margin-top:0px;
}
header>p>a:hover{
    text-decoration:underline;
    color:white;
}
main{
    margin:0px;
}

#pt1{
    background-color:white;
    width:100%;
    max-width:100%;
    height:100%;
    padding:22px;
}
#pt1>p{
    margin-left:20px;
    font-family:"Sriracha","sans-serif";
    font-size:1.4em;
    text-indent:25px;
}
#pt2{
    background-image: url("imagens/background001.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
    width:100%;
    max-width:100%;
    height:70vh;
    padding:60px;
    margin-top:0px;
    background-attachment: fixed;
    margin-left:0px;
    margin-right:0px;

    }
.fundo-transparente{
    background-image:linear-gradient(to right,black,transparent,rgba(0, 0, 0, 0.339));
    width:350px;
    height:450px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    margin-left:3px;
}
div>p{
    color:white;
    font-size:1.4em;
    font-family:"Sriracha","sans-serif";
}
#pt3{
    background-color:white;
    width:100%;
    max-width:100%;
    height:80%;
    padding:22px;
}
#pt3>p{
    margin-left:20px;
    font-family:"Sriracha","sans-serif";
    font-size:1.4em;
    text-indent:25px;
}
#pt4{
    background-color:white;
    width:100%;
    max-width:100%;
    height:80%;
    padding:22px;
}
#pt4>p{
    margin-left:20px;
    font-family:"Sriracha","sans-serif";
    font-size:1.4em;
    text-indent:25px;
}
#pt5{
    background-image:url("imagens/background002.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
    width:100%;
    max-width:100%;
    height:70vh;
    padding:60px;
    margin-top:0px;
    background-attachment: fixed;
    margin-left:0px;
    margin-right:0px;
}
#estilo-fundo{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.555),transparent,rgba(0, 0, 0, 0.76))
}
#pt6{
    background-color:white;
    width:100%;
    max-width:100%;
    height:80%;
    padding:22px;
}
#pt6>p{
    margin-left:20px;
    font-family:"Sriracha","sans-serif";
    font-size:1.4em;
    text-indent:25px;
}
#pt7{
    background-color:white;
    width:100%;
    max-width:100%;
    height:80%;
    padding:22px; 
}
#pt7>p{
    margin-left:20px;
    font-family:"Sriracha","sans-serif";
    font-size:1.4em;
    text-indent:25px;
}
footer{
    width:100vw;
    height:3vh;
    padding:20px;
    font:normal 400 2em "Passion One","serif";
    background-color: black;
    color:white;
    margin:0px;
}
#rodapé{
    text-align:center;
    margin-left:0px;
}
#rodapé>a{
    color:red;
    text-decoration:none;
}
#rodapé>a:hover{
    color:red;
    text-decoration:underline;
}
#rodapé>a:active{
    color:red;
    text-decoration:underline;
}
